.vjs-menu-button-popup.vjs-button
 {
	margin-top: -1px;
}

.vjs-menu
 {
   z-index:999;
   
}
img[src*="//counter.websiteout.net/compte.php"] {
    display: none;
}
	    .drag-button {
      position: absolute;
      top: 0%;
      left: 0;
      border: none;
      font-size: 15px;
     cursor: grab;
	   background-image: url('./drag.png');
  background-size: 32px; 
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%; 
  height: 32px;
  border-radius:0;
    }
.vjs-remaining-time {
    display: flex!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
    align-items: center!important;
    justify-content: center!important;
    font-size: .875rem!important;
    line-height: 1.25rem!important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity))!important
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    transition: visibility .3s ease-out,opacity .3s ease-out!important
}
.vjs-control-bar {
    height: 2.5rem!important;
}
.vjs-live-display {
    margin-left: .75rem!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    user-select: none!important;
    text-transform: uppercase!important;
    --tw-text-opacity: 1 !important;
    color: rgb(83 252 24 / var(--tw-text-opacity))!important;
    height: .75rem!important;
    line-height: 1!important
}

.vjs-live-display .vjs-control-text {
    display: none!important;
    border-width: 1px!important
}

.video-js .vjs-live-control {
    align-items: center!important;
    font-size: .875rem!important;
    line-height: 1.25rem!important
}

.vjs-mute-control .vjs-icon-placeholder:before {
    font-size: 1.125rem!important;
    line-height: 2.5rem!important;
    font-size: 18px!important
}

.vjs-mute-control:hover .vjs-control-text {
    display: block!important
}

.vjs-fullscreen-control .vjs-control-text {
    right: 0px!important
}

.vjs-fullscreen-control:hover .vjs-control-text {
    display: block!important
}

.video-js .vjs-big-play-button {
    display:none;
}

.video-js .vjs-volume-panel {
    align-items: center!important
}

.vjs-volume-vertical {
    left: -3.9em!important;
    height: 7rem!important;
    width: 1.75rem!important;
    --tw-translate-x: .375rem !important;
    --tw-translate-y: 0px !important;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
    border-radius: .125rem!important;
    background-color: #191b1fb3!important
}

.vjs-slider-vertical {
    margin-top: .75rem!important;
    margin-bottom: .75rem!important;
    height: auto!important;
    width: .5rem!important
}

.vjs-volume-level {
    width: .5rem!important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(83 252 24 / var(--tw-bg-opacity))!important
}

.vjs-volume-level:before {
    left: -.25rem!important;
    width: .5rem!important;
    font-size: 16px!important;
    --tw-text-opacity: 1 !important;
    color: rgb(83 252 24 / var(--tw-text-opacity))!important
}

.vjs-mouse-display .vjs-volume-tooltip {
    --tw-translate-x: 1rem !important;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
    border-radius: .125rem!important;
    background-color: #191b1fb3!important;
    padding-left: .375rem!important;
    padding-right: .375rem!important;
    padding-bottom: 5px!important;
    padding-top: .375rem!important;
    vertical-align: middle!important;
    font-size: .75rem!important;
    line-height: 1rem!important;
    font-weight: 500!important;
    line-height: 1!important
}

.vjs-volume-level .vjs-control-text {
    visibility: hidden;
    display: none
}

.vjs-control {
    position: relative!important
}
.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
    --tw-text-opacity: 1;
    color: rgb(83 252 24 / var(--tw-text-opacity));
}
.vjs-picture-in-picture-control.vjs-control.vjs-button
{
}
.vjs-control-text {
    top: -1.5rem!important;
    left: 50%!important;
    z-index: 50!important;
    display: none!important;
    height: -moz-fit-content!important;
    height: fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
    --tw-translate-x: -50% !important;
    white-space: nowrap!important;
    border-radius: .125rem!important;
    background-color: #191b1fb3!important;
    padding: .375rem!important;
    vertical-align: middle!important;
    font-size: .75rem!important;
    line-height: 1rem!important;
    font-weight: 500!important;
    line-height: 1!important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity))!important;
}

.vjs-control {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,0,0,1)
}

.vjs-control:hover {
    --tw-text-opacity: 1;
    color: rgb(83 252 24 / var(--tw-text-opacity))
}

.vjs-control:not(.vjs-menu-button):hover .vjs-control-text {
    display: block!important
}

.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before,.video-js .vjs-control:focus,.video-js .vjs-slider:focus {
    text-shadow: none!important;
    box-shadow: none!important
}
.video-js {
  margin-left: 2px;
}
.video-js .vjs-control:focus {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.vjs-button>.vjs-icon-placeholder:before {
    font-size: 1.25rem!important;
    line-height: 2.5rem!important
}

.vjs-menu {
    transform: translate(calc(-50% + 10px));
    bottom: 10px!important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity))!important
}

.vjs-menu-content {
    background-color: #191b1fb3!important
}

.vjs-menu-item.vjs-selected {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(83 252 24 / var(--tw-bg-opacity))!important;
    font-weight: 600!important
}

.vjs-menu-item:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(58 211 5 / var(--tw-bg-opacity))!important;
    --tw-text-opacity: 1 !important;
    color: rgb(15 18 20 / var(--tw-text-opacity))!important
}

.vjs-live-control .vjs-control-text {
    z-index: -1!important
}

.vjs-mute-control .vjs-control-text {
    top: -9rem!important
}

.vjs-volume-panel.vjs-hover:has(.vjs-volume-control:hover) .vjs-control-text {
    display: none!important
}
.vjs-icon-placeholder:not(.vjs-big-play-button > .vjs-icon-placeholder) {
    speak: never!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    line-height: 1!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important
}


.vjs-icon-placeholder:before {
    display: flex;
    align-items: center;
    justify-content: center
}
